23/09/2025

In [2]:
tuple1 = ("Chaithanya","Chethan","Shreyas","Preethesh")
print(type(tuple1))
tup = ("Chaithanya")
print(type(tup))
tup = ("Chaithanya",)
print(type(tup))

<class 'tuple'>
<class 'str'>
<class 'tuple'>

In [3]:
#Tuple with different Data types
person = ("Arun",25,True)
person_new = list(person)
person_new[1] = 26
person_new = tuple(person_new)
print(person_new)

('Arun', 26, True)

In [63]:
person = ("Arun", 25,True,2,1,11,23,(56,77),"good")
person1 = list(person)
print(person1)
person1[7] = list(person1[7])
person1[7][0]= 50
person1[7] = tuple(person1[7])
print((person1))

['Arun', 25, True, 2, 1, 11, 23, (56, 77), 'good']
['Arun', 25, True, 2, 1, 11, 23, (50, 77), 'good']

In [ ]:
person = ("Arun", 25,True,2,1,11,23,(56,77),"good")
person = list(person)
print(person)
person[7] = list(person[7])
print
person[7][0]= 50
person[7] = tuple(person[7])
print((person))

['Arun', 25, True, 2, 1, 11, 23, (56, 77), 'good']
['Arun', 25, True, 2, 1, 11, 23, (50, 77), 'good']

In [64]:
tup1 = (1,"hello",3,4,5,6.0)
tup1 = list(tup1)
print(tup1)
tup1[1] = "Bye"
print(tup1)
tup1[5] = int(6)
print(tup1)
tup1 = (tup1)
print(tup1)

[1, 'hello', 3, 4, 5, 6.0]
[1, 'Bye', 3, 4, 5, 6.0]
[1, 'Bye', 3, 4, 5, 6]
[1, 'Bye', 3, 4, 5, 6]

In [65]:
#Accesing index in tuple
tup = (1,"Hello",(3,(4,5)),4.5)
tup1 = (type(tup))
print(tup[0])
print(tup[1])
print(tup[-1])
print(tup[-2],[-1],[-1])

1
Hello
4.5
(3, (4, 5)) [-1] [-1]

In [66]:
number = (10,20,30,40,50)
print(number[1:3])
print(number[:4])
print(number[3:])
print(number[::-1])

(20, 30)
(10, 20, 30, 40)
(40, 50)
(50, 40, 30, 20, 10)

In [67]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
new_tuple = tuple1+tuple2
print(new_tuple)
print(type(new_tuple))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [74]:
repeat_tuple = ("Hello",)*3
print(repeat_tuple)

('Hello', 'Hello', 'Hello')

In [75]:
#Membership test
fruits = ("apple","banana","Cherry")
print("apple" in fruits)
print("grape" not in fruits)

True
True

SET = Collection data types where it is does not  allow duplicate ,unorder and defined by using {}

In [76]:
set = {""}
print(type(set))

a = set()
print(type(a))

set1 = {}
print(type(set1))

<class 'set'>

TypeError: 'set' object is not callable

In [77]:
#Adding Elements
my_set ={1,2,3,4,5}
my_set.add(6) #a singlr value
print(my_set)

my_set.update([7,8,9]) #mtl elements
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [78]:
my_set ={1,2,3,4,5}
popped_element = my_set.pop() #Remove a random element
print(my_set)
print(popped_element)

{2, 3, 4, 5}
1

In [79]:
my_set.clear() #Remove all set
print(my_set)

set()

Class Assignment = 23/09/2025

In [84]:
tup1 = (1,"hello",3,4,5,6.0)
tup1 = list(tup1)
print(tup1)
tup1[1] = "Bye"
print(tup1)
tup1[5] = int(6)
print(tup1)
tup1 = (tup1)
print(tup1)

[1, 'hello', 3, 4, 5, 6.0]
[1, 'Bye', 3, 4, 5, 6.0]
[1, 'Bye', 3, 4, 5, 6]
[1, 'Bye', 3, 4, 5, 6]

In [1]:
tuple1 = (1,2,3.0,4,5,6.0)
tuple1 = list(tuple1)
print(type(tuple1))
tuple1[0] = float(1)
tuple1[1] = float(2)
print(tuple1)
tuple1[2] = int(3.0)
tuple1[5] = int(6.0)
print(tuple1)
tuple1 = tuple(tuple1)
print(tuple1)
print(type(tuple1))

<class 'list'>
[1.0, 2.0, 3.0, 4, 5, 6.0]
[1.0, 2.0, 3, 4, 5, 6]
(1.0, 2.0, 3, 4, 5, 6)
<class 'tuple'>

In [97]:
tuple2 = (1,2,3,4,5,6)
print(tuple2)
tuple2 = list(tuple2)
tuple2[0] = float(1)
tuple2[1] = float(2)
tuple2[2] = float(3)
tuple2[4] = float(5)
tuple2[5] = float(6)
print(tuple2)
print(tuple(tuple2))

(1, 2, 3, 4, 5, 6)
[1.0, 2.0, 3.0, 4, 5.0, 6.0]
(1.0, 2.0, 3.0, 4, 5.0, 6.0)

In [102]:
tuple3 = (1,2,3,4,5,6)
print(tuple3)
tuple3 = list(tuple3)
tuple3[0] = float(1)
tuple3[1] = float(2)
tuple3[3] = float(4)
print(tuple3)
tuple3 = tuple(tuple3)
print(tuple3)

(1, 2, 3, 4, 5, 6)
[1.0, 2.0, 3, 4.0, 5, 6]
(1.0, 2.0, 3, 4.0, 5, 6)

In [ ]:
A = {1,3,5,2,6}
B = {3,2,4,7}
print(A.symmetric_difference(B))  
print(A ^ B) 
print("--------------------------------------------")
print(A | B)          
print(A.union(B)) 
print("--------------------------------------------")
print(A & B)          
print(A.intersection(B))  
print("---------------------------------------------")

{1, 4, 5, 6, 7}
{1, 4, 5, 6, 7}
--------------------------------------------
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
--------------------------------------------
{2, 3}
{2, 3}
---------------------------------------------

24/09/2025 - Dictionary

In [1]:
chaithu = {}
print(type(chaithu))

<class 'dict'>

In [ ]:
#inbuilt function
chaithu1 = dict()
print(type(chaithu1))

<class 'dict'>

In [ ]:
#Syntax
#variable = {key1:value,key2:value,key3:value}

In [7]:
Me = {"Name":"Chaithu","Age":22,"Education":"B.Sc"}
print(Me)

{'Name': 'Chaithu', 'Age': 22, 'Education': 'B.Sc'}

In [8]:
dict1 = {1:"hello",1:"hi",1:"Bye",3:10}
print(dict1)
print(type(dict1))

{1: 'Bye', 3: 10}
<class 'dict'>

In [10]:
dict2 = {"Name":"Ammi","Name":"Shreyash","Age":21}
print(dict2)

{'Name': 'Shreyash', 'Age': 21}

In [14]:
student = {"name":"John","Age":25,"Course":"Python","Marks":[98,76,78]}
print(student)
print(student["Marks"][0])

{'name': 'John', 'Age': 25, 'Course': 'Python', 'Marks': [98, 76, 78]}
98

In [16]:
student1 = {"name":"Alice","Age":25}
copy_d = student1.copy()
print(copy_d)

{'name': 'Alice', 'Age': 25}

In [ ]:
#fromkeys(iterable, value) - Creates a dictionary
#with specified keys and a common value.
a =["a","b","c"]
d = dict.fromkeys(a,2)
print(d)

{'a': 2, 'b': 2, 'c': 2}

In [17]:
#get(key, default) - Returns the value for for a key,
# or default
#if the key is not found

d = {"name":"Adhya","Age":25}
print(d.get("name"))
print(d.get("city","not found"))

Adhya
not found

In [ ]:
#Return a veiw of outpur in tuple item()
d = {"name":"Arun","age":25,"Age":26}
print(d.items())

dict_items([('name', 'Arun'), ('age', 25), ('Age', 26)])

In [21]:
#keys() - Returns a view object containing dictionary.
d = {"name":"Arun","age":25,"Age":26}
print(d.keys())
print(d.values())

dict_keys(['name', 'age', 'Age'])
dict_values(['Arun', 25, 26])

In [24]:
d = {"name":"Arun","age":25,"Age":26}
pop1 = d.popitem()
print(pop1)
print(d)

('Age', 26)
{'name': 'Arun', 'age': 25}

In [23]:
d = {"name":"Chandu","age":21}
d.update({"city":"New York","age":26})
print(d)

{'name': 'Chandu', 'age': 26, 'city': 'New York'}

In [25]:
#merging two dictionaries
dict1 ={"a":1,"b":2}
dict2 ={"c":3,"d":4}
merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [51]:
list1 = [1,2,3,4,5]
mul_list=[]
for i in list1:
    a = i*i
    mul_list.append(a)
print(mul_list)

[1, 4, 9, 16, 25]

List Comprehension

In [ ]:
#New_list = [expression for item in iterable if condition]
#creating new list from existing list
#expression = The operation or value to store in the new list.
#item = The variable representing each element in the iterable.
#iterable = The source data structure(like tuple)

In [46]:
square = [x ** 2 for x in range(5)]
print(square)

[0, 1, 4, 9, 16]

In [53]:
x =0
mul_list = []
while x<6:
    a = a*a
    a += 1
    mul_list.append(a)
print(mul_list)

KeyboardInterrupt:

25/05/2025

In [13]:
even = [x for x in range(11) if x % 2 == 0 ]
print(even)

[0, 2, 4, 6, 8, 10]

In [14]:
odd = [x for x in range(11) if x % 2 != 0 ]
print(odd)

[1, 3, 5, 7, 9]

In [12]:
#Interview question
numbers = [1,2,3,4,5,6,7,8,9,10]
value_remove = [2,3,9]
filtered_list = [i for i in numbers if i not in value_remove]
print(filtered_list)

[1, 4, 5, 6, 7, 8, 10]

Packing and unpacking

In [26]:
list1 = [1,2,3,4,5]
(a,b,c,d,e) = list1
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [ ]:
#Email filtering
emails = [
    "alex.jones@outlook.com",
    "daniel.roberts@gmail.com",
    "priya.sharma@outlook.com",
    "kevin_92@outlook.com",
    "maria.lopes@yahoo.com",
    "sophia.lee88@gmail.com",
    "rajiv.kumar@yahoo.com",
    "emily_sky@yahoo.com",
    "arjun.mehta@gmail.com",
   "sneha.patil01@gmail.com"
]
gmail_users = [i for i in emails if "@gmail.com" in i]
print(gmail_users)

['daniel.roberts@gmail.com', 'arjun.mehta@gmail.com', 'sophia.lee88@gmail.com', 'sneha.patil01@gmail.com']