INPUT()

In [1]:
#1.Get input for variable name and age.print it.
Name = input("Enter your name: ")
Age = int(input("Enter your Age:"))
print("My Name is :",Name)
print("My name is :",Age)

My Name is : Chaithu
My name is : 4

In [ ]:
# String
x = input("Enter x value:")
y = input("Enter y value:")
print(x + y)

In [ ]:
name = input("Enter the name:")
place = input("Enter the Place: ")
print("I am " + name, "from " + place)

In [ ]:
#INT
x = int(input("Enter x value:"))
y = int(input("Enter y value: "))
print(x+y)

In [ ]:
#float
x = float(input("Enter x value:"))
y = float(input("Enter y value:"))
print(x+y)

In [38]:
#2.Get for variable name and age, address. print it.
Name = input("Enter You name:")
Age = int(input("Enter your age"))
country = input("Enter your country:")
print("My Name is :",Name)
print("My name is :",Age)
print("My name is :",country)

My Name is : Chaithu
My name is : 22
My name is : India

OPERATOR:

In [39]:
"""3.Get integer input for variable a, b, c.
multiply all 3 variables(a*b*c)
add all 3 variable(a+b+c)
divide the multiplied value by added values
print it."""
a = int(input("Enter a value:"))
b = int(input("Enter b value:"))
c = int(input("Enter c value:"))

mul = a*b*c
add = a+b+c

final_ans = mul/add

print(final_ans)

11.666666666666666

In [42]:
"""4.Get input for variable name,score,department
Get score for 100;
divide 100/10"""
Name = input("Enter your name;")
Score = int(input("Enter your score"))
department = input("Enter your department")

perc = Score/10

print("My name is:",Name)
print("My Score is",perc)
print("My Department is",department)

My name is: Chaithu
My Score is 5.6
My Department is Computer Science

Each 3 examples for operators.

Arithmatic Operator

In [ ]:
x = 6
y = 8
print(x+y) #addition
print(x-y) #Substraction
print(x*y) #Multiplication
print(x/y) #Division
print(x%y) #Modulus
print(x**y) #Exponential
print(x//y) #Floor division

In [ ]:
x = 14
y = 22
print(x+y) #addition
print(x-y) #Substraction
print(x*y) #Multiplication
print(x/y) #Division
print(x%y) #Modulus
print(x**y) #Exponential
print(x//y) #Floor division

In [ ]:
x = 98
y = 45
print(x+y) #addition
print(x-y) #Substraction
print(x*y) #Multiplication
print(x/y) #Division
print(x%y) #Modulus
print(x**y) #Exponential
print(x//y) #Floor division

In [ ]:
#Assignment operator
x = 5
x += 4
print(x)
x -= 5
print(x)
x *= 6
print(x)
x /= 8
print(x)
x %= 8
print(x)
x //= 8
print(x)
x **= 3
print(x)
#x &= 5 it won't support for int and float
#x |= 7 it won't support for int and float
#x ^= 8 it won't support for int and float
#x >>= 7 it won't support for int and float
# x <<= 9 it won't support for int and float

COMPARISON OPERATOR

In [ ]:
x = 6
y = 8
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

In [ ]:
x = 9
y = 9
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

In [ ]:
x = 7
y = 2
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

BITWISE OPERATOR

In [ ]:
x = 4
y = 8
print(x & y) #AND
print(x | y) #OR
print(x^y)  #XOR
print(~4) #NOT
print(x << 2) #LEFT SHIFT
print(x >> 2) #RIGHT SHIFT

In [ ]:
x = 12
y = 5
print(x & y) #AND
print(x | y) #OR
print(x^y)  #XOR
print(~12) #NOT
print(x << 2) #LEFT SHIFT
print(x >> 2) #RIGHT SHIFT

In [ ]:
x = 55
y = 8
print(x & y) #AND
print(x | y) #OR
print(x^y)  #XOR
print(~44) #NOT
print(x << 2) #LEFT SHIFT
print(x >> 2) #RIGHT SHIFT

ESCAPE CHARACTER

In [ ]:
print('it\'s chaithanya')  #\
print("hello\nworld")   #\n
print("chaitanya\rsuresh111") #\r
print("name\tage\tclass")  #\t
print("hell\bworld")   #\b
print("name\fage\fclass")  #\f
print("name\vage\vclass")  #\v

#### FLOW CONTROL

In [ ]:
#Conditional Statement = 1.if 2.if---else 3.if---elif--

In [3]:
#1.Write a python program to check if a number is positive,negative or zero.

number = int(input("Enter a number(Negative or positive or zero)"))

if number < 0:
    print("Number is Negative")
elif number > 0:
    print("Number is Positive")
else:
    print("Number is zero")

Number is zero

In [4]:
# 2.Write a program that takes an age as input and checks if the person is eliguble to vote(18+)
Age_person = int(input("Enter yor age"))

if Age_person >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [ ]:
#3.Write a Python program to check whether a given number is even or odd.
number= int(input("Enter the number"))

if number % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Number is odd

In [ ]:
"""4.A shop gives a 10% discount if the purchase amount is more than ₹1000. Write a Python
program to calculate the final bill amount."""
Actual_price = int(input("Enter purchase amount:"))

if Actual_price > 1000:
    final_bill = Actual_price - Actual_price*0.1
    print("Total payable amount is",final_bill)

Total payable amount is 4500.0

In [ ]:
#5.Write a Python program to find the largest of three numbers entered by the user.
a = int(input("Enter a value:"))
b = int(input("Enter b value:"))
c = int(input("Enter c value:"))

print(a)
print(b)
print(c)

if a > b and a > c:
    print("a is largest number, it is :",a)
elif b > a and b > c:
    print("b is largest number, it is :",b)
else: 
    print("c is largest number, it is :",c)

76
33
99
c largest number, it is : 99

## Shorthand method

In [ ]:
age = 18
message = "You are an adult" if age >= 18 else "You are a child"
print(message)

You are an adult

In [20]:
#odd or even
number = int(input("Enter an integer:"))
print("Number is even" if number % 2 == 0 else "Number is odd")

Number is odd

Assignment of complex

In [30]:
real_part = int(input("Enter real part :"))
imaginary_part = int(input("Enter imaginary part:"))
cmplx = complex(real_part, imaginary_part)
print(cmplx)

(4+6j)

LOOPING STATEMENT

In [1]:
sequence = (2,4,6,8)
variable = 4
for variable in sequence:
    pass

In [29]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [31]:
for x in range(6):
    print("Hi")
    print("Hello")

Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello

In [ ]:
for chaithu in range(0,11,2):
    print(chaithu)

0
2
4
6
8
10

NESTED FOR

In [2]:
for i in range(0,11):
    print(i)
    for y in range(5):
        print(y)

0
0
1
2
3
4
1
0
1
2
3
4
2
0
1
2
3
4
3
0
1
2
3
4
4
0
1
2
3
4
5
0
1
2
3
4
6
0
1
2
3
4
7
0
1
2
3
4
8
0
1
2
3
4
9
0
1
2
3
4
10
0
1
2
3
4

In [3]:
for x in range(0,11):
    if x%2==0:
        print(x)

0
2
4
6
8
10

Transfer statement

In [4]:
for i in range(1,6):
    if i == 3:
        break
    print(i)

1
2

In [5]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [6]:
for i in range(1,11):
    if i == 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1):
    for j in range(2):
        print("I'am i:",i,"I'am j:",j)

I'am i: 0 I'am j: 0
I'am i: 0 I'am j: 1

In [8]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [11]:
for i in range(5):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [12]:
for i in range(5):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [13]:
for i in range(5):
    for j in range(j):
        print("*",end=" ")
    print()

* * *
* *
*

In [16]:
n = 5 
for i in range(1,n+1):
    if i==1 or i==n:
        print(" "*(n-1)+ "*"* (2*i-1))
    else:
        print(" "*(n-1)+"*"+" "*(2*i-3)+"*")

    *
    * *
    *   *
    *     *
    *********

In [17]:
n = int(input("Enter the number:")) 

for i in range(n):
    if i == 0 or i == n - 1:
        print("* " * n)
    else:
        print("* " + "  " * (n - 2) + "* ")

* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

In [18]:
#Right hand
n = int(input("Enter the number:"))

for i in range(1, n + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [19]:
n =int(input("Enter the number:"))

for i in range(1, n + 1):
    print("  " * (n - i) + "* " * i)

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

19/09/2025-WHILE

In [20]:
n = 4

for i in range(1,n+1):
    for j in range(1,n+1):
        print((i,j),end = " ")
    print()

(1, 1) (1, 2) (1, 3) (1, 4)
(2, 1) (2, 2) (2, 3) (2, 4)
(3, 1) (3, 2) (3, 3) (3, 4)
(4, 1) (4, 2) (4, 3) (4, 4)

In [21]:
number = 0
while number <= 5:
    print(number)
    number += 1

0
1
2
3
4
5

In [22]:
raining = True
while raining:
    print("Stay inside!")
    raining = False

Stay inside!

In [23]:
number = 5
while  number >= 1:
    print(number)
    number -= 1

5
4
3
2
1

In [24]:
number = 0
while number <= 10:
    print(number)
    number += 2

0
2
4
6
8
10

In [25]:
number = 1
while number <= 10:
    print(number)
    number += 2

1
3
5
7
9

In [26]:
#even number using conditional statement in while
number = 0
while number <= 10:
    if number % 2 == 0:
        print(number)
    else:
        pass
    number += 1

0
2
4
6
8
10

In [27]:
#odd number using conditional statement in while
number = 0
while number <= 10:
    if number % 2 != 0:
        print(number)
    else:
        pass
    number += 1

1
3
5
7
9

In [28]:
Answer = " "
while Answer != "Python":
    Answer = input("Which is the best programming language")
print("Correct")

Correct

In [29]:
import random
secret_number = random.randrange(1,10)
guess = 0

while guess != secret_number:
    guess = int(input("Guess number between 1 and 10:"))

print("You guessed it!")

You guessed it!

Assignment - 16/09/2025

In [3]:
n = int(input("Enter your Value:"))

for i in range(n):
    if i == 0 or i == n-1:
        print("* " *n)
    else:
        print("* "+ "3 "*(n-2)+"*")

* * * *
* 3 3 *
* 3 3 *
* * * *

In [5]:
n = int(input("Enter the value:"))

for i in range(1, n+1):
    for j in range(1,n+1):
        if i == j:
            print("(1, 1)",end =" ")
        else:
            print((i,j),end= " ")
    print()

(1, 1) (1, 2) (1, 3) (1, 4) (1, 5) (1, 6) (1, 7) (1, 8)
(2, 1) (1, 1) (2, 3) (2, 4) (2, 5) (2, 6) (2, 7) (2, 8)
(3, 1) (3, 2) (1, 1) (3, 4) (3, 5) (3, 6) (3, 7) (3, 8)
(4, 1) (4, 2) (4, 3) (1, 1) (4, 5) (4, 6) (4, 7) (4, 8)
(5, 1) (5, 2) (5, 3) (5, 4) (1, 1) (5, 6) (5, 7) (5, 8)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (1, 1) (6, 7) (6, 8)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (1, 1) (7, 8)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (1, 1)

In [47]:
# Transverse Statement

num = 0

while num <= 12:
    if num < 6:
        print(num)
    else:
        break
    num += 1

0
1
2
3
4
5

In [61]:
num = 1
while num <= 12:
    num += 1
    if num > 6:
        print(num)
    else:
        continue

7
8
9
10
11
12
13

In [78]:
#Print numbers 1 to 10 but skip 5
num = 1

while num <= 10:
    if num == 5:
        num += 1
        continue
    print(num)
    num += 1

1
2
3
4
6
7
8
9
10

In [ ]:
#Stop when number is greater than 50
while True:
    n = int(input("Enter the value :"))
    if n >= 50:
        print("You have enter greater than 50 it is ",n)
        break
    else:
        pass

You have enter greater than 50 it is  51

In [ ]:
"""Sum until negative number
Use a while loop to keep taking integers as input.
Add them to a total.
If the user enters a negative number, break the loop and print the total sum."""
sum = 0

while True:
    num1 = int(input("Enter num1 value:"))
    if num1 < 0:
        print("The total sum is:",sum)
        break
    else:
        sum = sum + num1

The total sum is: 0

In [1]:
while True:
 n = int(input("Enter the value:"))
 i = 1
 
 for i in range(1,11):
        print(n, "X",i,"=",n*i)
 break

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

Class - 17-09-2025

In [6]:
for i in range(10):
    print("* " *i)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [8]:
for i in range(5):
    for j in range(i):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *

In [10]:
n = 5
for i in range(n,0,-1):
    print("* "*i)

* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 5

for i in range(n):

In [ ]:
correct_pin = "1234"
attempt = 0

while attempt < 3:
    pin = input("Enter your pin: ")
    if pin == correct_pin:
        print("Access granted")
        break
    else:
        print("Incorrect PIN")
        attempt += 1
else:
    print("Card blocked")

Incorrect PIN
Access granted

In [22]:
month = ["January","February","May","June","August","November","December"]

for i in month:
    if i == "February":
        print(f"{i} has 28/29 days.")
    elif i in ("January","May","August","December"):
        print(f"{i} has 31 days.")
    else:
        print(f"{i} has 30 days")

January has 31 days.
February has 28/29 days.
May has 31 days.
June has 30 days
August has 31 days.
November has 30 days
December has 31 days.

In [ ]:
print("Welcome to Chaithanya's kitchen")
print("VEG AND NON VEG")
print("We prepare veg items in different kitchen,\n we won't mix the vessels or anything with non veg:)")
print("1.Nonveg_special")
print("2.Veg_Special")
print("3.Juice")
print("4.Ice creams")
print()
selection = int(input("Choose which item you want(1/2/3/4):"))
print("The Selected item is: ",selection )
print()

non_veg_item = {
    "chicken butter":200,
    "Chicken Kabab" : 80,
    "Chicken Biryani": 180,
    "Mutton Curry": 250,
    "Fish Fry": 200,
    "Prawn Masala": 300,
    "Egg Omelette": 40,
    "Chicken 65": 220,
    "Grilled Fish": 280,
    "Lamb Kebab": 260,
    "Butter Chicken": 240,
    "Crab Roast": 350
    }

if selection == non_veg_item:
    print("non_veg_item")


for item_name, price in non_veg_item.items():
    print(f"{item_name}: ₹{price}")

Welcome to Chaithanya's kitchen
VEG AND NON VEG
We prepare veg items in different kitchen,
 we won't mix the vessels or anything with non veg:)
1.Nonveg_special
2.Veg_Special
3.Juice
4.Ice creams

Thje Selected item is:  1

chicken butter: ₹200
Chicken Kabab: ₹80
Chicken Biryani: ₹180
Mutton Curry: ₹250
Fish Fry: ₹200
Prawn Masala: ₹300
Egg Omelette: ₹40
Chicken 65: ₹220
Grilled Fish: ₹280
Lamb Kebab: ₹260
Butter Chicken: ₹240
Crab Roast: ₹350

Assignment

In [40]:
"""
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
"""

n = int(input("Enter the row number: "))
list1= []
for i in range(n):
    temp_list =[]
    for j in range(i+1):
        if j==0 or j==i:
            temp_list.append(1)
        else:
            temp_list.append(list1[i-1][j-1] + list1[i-1][j])
    list1.append(temp_list)
print(list1)

for i in range(n):
    for j in range(n-i-1):
        print(" ",end = "")
    for j in range(i+1):
        print(list1[i][j],end = " ")
    print()

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [38]:
n = int(input("Enter the value:"))
for i in range(n):
    print(" "*(n-i),end= "")
    num = 1
    for j in range(i+1):
        print(num, end = " ")
        num = num*(i-j)//(j+1)
    print()

         1
        1 1
       1 2 1
      1 3 3 1
     1 4 6 4 1
    1 5 10 10 5 1
   1 6 15 20 15 6 1
  1 7 21 35 35 21 7 1
 1 8 28 56 70 56 28 8 1

In [ ]:
#Butterfly
n = int(input("Enter the value:"))
for i in range(1,n+1):
    print("*"*i,end ='')
    print(" "*(n-i)*2,end='')
    print("*"*i)
for i in range(n,0,-1):
    print("*"*i,end='')
    print(" "*(n-i)*2,end ='')
    print("*"*i)

*              *
**            **
***          ***
****        ****
*****      *****
******    ******
*******  *******
****************
****************
*******  *******
******    ******
*****      *****
****        ****
***          ***
**            **
*              *

In [ ]:
n = int(input("Enter the value:"))

fact = 1
for i in range(1,n+1):
    fact *= i
print("Factorial of",n,"is",fact)

Factorial of 5 is 120

String Slicing-18/09/2025

In [42]:
#Basic Slicing
s = "PythonProgrammming"

#Positive Indexing
print(s[0:6])
#Negatove Indexing
print(s[-5:-1])
#Reverse a string
print(s[::-1])
#last 3 number
print(s[14:])
print(s[:6])
print(s[6:])
print(s[:])
print(s[0:12:2])
print(s[::-1])
print(s[::-2])

Python
mmin
gnimmmargorPnohtyP
ming
Python
Programmming
PythonProgrammming
PtoPor
gnimmmargorPnohtyP
gimagrnhy

In [35]:
name = "Chaithanya_S_Poojary"

#Positive Indexing
print(name[0:10])
#Negative Indexing
print(name[-7:])
#Reverse String
print(name[::-1])
print(name[-1::-1])

Chaithanya
Poojary
yrajooP_S_aynahtiahC
yrajooP_S_aynahtiahC

In [ ]:
#Extracting Specific parts
date =

In [43]:
s = "String"
print(s.upper())
print(s.lower())
print(s.count("s"))
print(len(s))

STRING
string
0
6

In [10]:
#Task
s = "HelloWorld"
#Start to End
print(s[2:9])
#End to Start
print(s[-2:-9:-1])
print(s[8:1:-1])
print(s[2:9:2])
print(s[-2:-9:-2])

lloWorl
lroWoll
lroWoll
lool
lool

Datatype COllection

In [ ]:
#Without inbuilt
List = []
print(type(List))

<class 'list'>

In [13]:
#With inbuilt
list = list()
print(type(list))

<class 'list'>

In [14]:
list = [1,2,3]
print(list.clear())
print(list)

None
[]

In [19]:
#Accessing a list using indexing
list1 = [1,"hello",4.5,True]
print(list1[3])

True

In [25]:
List1 = [1,"hello",[1,2,"hi"],4.5,True,["Good",23,False]]
print(List1[2][2])
List1[0] = "Python"
print(List1)
List1[5][1] = 22
print(List1)
print(List1[1][2])
print(List1[5][0][1])

hi
['Python', 'hello', [1, 2, 'hi'], 4.5, True, ['Good', 23, False]]
['Python', 'hello', [1, 2, 'hi'], 4.5, True, ['Good', 22, False]]
l
o

In [24]:
#inseer(index_value, value)
lst = [1,2,3,"good","python"]
lst.insert(1,"bad")
print(lst)

[1, 'bad', 2, 3, 'good', 'python']

In [26]:
original =[1,2,3]
copy_list = original.copy()

copy_list[0] = 100

print("Original:",original)
print("copy:",copy_list)

Original: [1, 2, 3]
copy: [100, 2, 3]

In [30]:
list1 = [1,2,3]
list2 = [1,2,3]
print(list1 is list2)
print(list1 == list2)

False
True

Assignment

In [ ]:
number = [3,8,50,9,15,30,38,79]

min_num = number[0]
max_num = number[0]

for num in number[1:]:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num

print("Minimum is:",min_num)
print("Maximum is:",max_num)

Minimum is: 3
Maximum is: 99

In [31]:
number = [10,20,30,40,50]

min = number[0]
max = number[0]

for num in range(len(number)):
    if number[num] > max:
        max = number[num]
    elif number[num] < min:
        min = number[num]

print("Maximum number",max)
print("Minimum number",min)

Maximum number 50
Minimum number 10

In [ ]:
s = "data science"
c = "CHAITHANYA POOJARY"
print(s.capitalize())
print(s.title())
print(s.upper())
print(c.lower())
print(s.casefold())
print(s.swapcase())
print(c.swapcase())

Data science
Data Science
DATA SCIENCE
chaithanya poojary
data science
DATA SCIENCE
chaithanya poojary

In [ ]:
text = "Hi"

#center(width, [fillchar])
print(text.center(10))  #spaces #Used to fill the empty spaces
print(text.center(10,'*')) #asterisks
#ljust(width, [fillchar])
print(text.ljust(10)) #Spaces #Left to Right
print(text.ljust(10,"-")) #dashes #Left to Right
#rjust(width, [fillchar])
print(text.rjust(10))  #  (spaces) Right to left
print(text.rjust(10, '.')) #dots Right to left
#zfill(width)
num = "42"
print(num.zfill(5))             

num2 = "-42"
print(num2.zfill(5))

    Hi
****Hi****
Hi
Hi--------
        Hi
........Hi
00042
-0042

In [1]:
#find(sub[, start[, end]])
#Returns the first index of sub inside the string, or -1 if not found.
text = "banana"
print(text.find("na"))        # 2   (first "na")
print(text.find("na", 3))     # 4   (search starting at index 3)
print(text.find("xy"))        # -1  (not found)
#rfind(sub[, start[, end]])
#Returns the last index of sub, or -1 if not found.
text = "banana"
print(text.rfind("na"))       # 4   (last "na")
print(text.rfind("na", 0, 4)) # 2   (limit search to first 4 chars)
#index(sub[, start[, end]])
#Same as find, but raises ValueError if sub is not found.
text = "banana"
print(text.index("na"))       # 2
print(text.index("xy"))     # ValueError: substring not found
#rindex(sub[, start[, end]])
#Same as rfind, but raises ValueError if sub is not found.
text = "banana"
print(text.rindex("na"))      # 4
#count(sub[, start[, end]])
#Returns the number of occurrences of sub.
text = "banana"
print(text.count("na"))       # 2
print(text.count("a", 2, 5))  # 2 (only between index 2 and 4)
#startswith(prefix[, start[, end]])
#Checks if the string starts with the given prefix.
text = "banana"
print(text.startswith("ba"))        # True
print(text.startswith("na", 2))     # True (starting from index 2)
print(text.startswith(("ba", "ca")))# True (tuple of prefixes)
#endswith(suffix[, start[, end]])
#Checks if the string ends with the given suffix.
text = "banana"
print(text.endswith("na"))          # True
print(text.endswith("na", 0, 4))    # False (checking only 'bana')
print(text.endswith(("na", "ca")))  # True (tuple of suffixes)

2
4
-1
4
2
2

ValueError: substring not found

In [4]:
#Type & Character Tests (all return True/False)
#isalnum()
#True if all characters are letters or digits and there is at least one character.
print("abc123".isalnum())   # True
print("abc 123".isalnum())  # False (space not allowed)
print()
#isalpha()
#True if all characters are letters only.
print("Hello".isalpha())    # True
print("Hi5".isalpha())      # False (contains digit)
print()
#isascii()
#True if all characters are ASCII (code points 0–127).
print("Hello!".isascii())   # True
print("café".isascii())     # False (é is non-ASCII)
print()
#isdecimal()
#True if all characters are decimal digits (0–9 only).
print("123".isdecimal())    # True
print("②".isdecimal())      # False (circled digit is numeric but not decimal)
print()
#isdigit()
#True if all characters are digits (includes superscripts, etc.).
print("123".isdigit())      # True
print("②".isdigit())        # True (because it's a digit character)
print()
#isnumeric()
#True if all characters are numeric (includes digits, fractions, etc.).
print("⅓".isnumeric())      # True (one-third fraction character)
print("123".isnumeric())    # True
print()

True
False

True
False

True
False

True
False

True
True

True
True

In [3]:
#isidentifier()
#True if the string is a valid Python identifier (variable/function name).
print("variable1".isidentifier())  # True
print("1var".isidentifier())       # False (cannot start with digit)
print("my-var".isidentifier())     # False (hyphen not allowed)
print()
#islower()
#True if all cased letters are lowercase and there is at least one cased letter.
print("hello".islower())    # True
print("Hello".islower())    # False
print()
#isupper()
#True if all cased letters are uppercase and there is at least one cased letter.
print("HELLO".isupper())    # True
print("Hello".isupper())    # False
print()
#istitle()
#True if string is titlecased (each word starts uppercase, rest lowercase).
print("Hello World".istitle())  # True
print("Hello world".istitle())  # False
print()
#isspace()
#True if all characters are whitespace (spaces, tabs, newlines).
print("   ".isspace())     # True
print("\t\n".isspace())    # True
print("a b".isspace())     # False
print()
#isprintable()
#True if all characters are printable (not control chars).
print("Hello!".isprintable())   # True
print("Hi\nThere".isprintable())# False (newline not printable)

True
False
False

True
False

True
False

True
False

True
True
False

True
False

In [ ]:
#Strip / Trim
#strip([chars]) – Remove leading & trailing chars (default whitespace)
#lstrip([chars])
#rstrip([chars])

In [ ]:
#Replace / Mapping
#replace(old, new[, count])
#expandtabs(tabsize=8) – Replace tabs with spaces
#translate(table) – Use a translation table
#maketrans(x[, y[, z]]) – Create translation mapping for translate

In [ ]:
#Split & Join
#split(sep=None, maxsplit=-1)
#rsplit(sep=None, maxsplit=-1)
#splitlines([keepends])
#partition(sep) – Returns (before, sep, after)
#rpartition(sep)
#join(iterable) – Join iterable of strings with this string as separator

In [ ]:
#Formatting
#format(*args, **kwargs)
#format_map(mapping)

19/09/2025

In [3]:
lst = [3,4,1,6,8,5]
#REMOVE Directly we can remove value
lst.remove(4)
print(lst)
#POP =Remove using the index
x=lst.pop(3)
print(lst)
print(x)

[3, 1, 6, 8, 5]
[3, 1, 6, 5]
8

In [5]:
#index(value)
lst = [10,20,30,40]
print(lst.index(10))
Appi = ["Devaki"["Santhappa","Chethan","Chaithanya"],"Ramesha"["Mohini","Pratham","Manish","Pranish"],"Hema"["Suresh","Preethesh","Shreyash"]]
print(Appi.index("Chaithanya"))

<>:4: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\ASUS\AppData\Local\Temp\ipykernel_2700\3754336857.py:4: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  Appi = ["Devaki"["Santhappa","Chethan","Chaithanya"],"Ramesha"["Mohini","Pratham","Manish","Pranish"],"Hema"["Suresh","Preethesh","Shreyash"]]

0

TypeError: string indices must be integers, not 'tuple'

In [7]:
#count(x) --> x = value

lst = [1,2,2,3,2,4,1]
print(lst.count(1))
print(lst.count(2))

2
3

In [12]:
#sort
print("Ascending order")
lst = [3,1,4,5,2]
lst.sort();
print(lst)
print("Descending Order")
lst.sort(reverse=True)
print(lst)

Ascending order
[1, 2, 3, 4, 5]
Descending Order
[5, 4, 3, 2, 1]

In [14]:
lst = [3,9,8,34,44,87,67]
print(max(lst))
print(min(lst))

87
3

In [ ]:
list = [3,9,8,34,44,87,67]
max_list = list[0]
for i in range(1,len(list)):
    if list[i] < max_list:
        max_list >

In [16]:
list = [1,2,3,4,5]
lst.reverse()
print(list)

[1, 2, 3, 4, 5]

In [20]:
#append()
list = [2.5,2,3,5]
for i in list:
    print(i)
    if i == 2:
        list.append(6)

2.5
2
3
5
6

In [18]:
x = [2.5,2,3,5]
for i in range(5-len(x)):
    x.append(6)
    print(x)

[2.5, 2, 3, 5, 6]

In [22]:
#Difference between append and extend
#append
lst = [1,2,3]
lst.append("Hello")
print(lst)

#extend
lst1 = [1,2,3]
lst1.extend("Hello")
print(lst1)

[1, 2, 3, 'Hello']
[1, 2, 3, 'H', 'e', 'l', 'l', 'o']

In [23]:
# + Operator
list1 = [1,2,"Hi"]
list2 = [4,5,6]

new_list = list1 + list2
print(new_list)

[1, 2, 'Hi', 4, 5, 6]

In [24]:
#Adding Element dynamically with for loop

my_list = []
for j in range(5):
    my_list.append(j)
    print(my_list)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]

In [25]:
my_list = []
for j in range(5):
    my_list.append(j)
print(my_list)

[0, 1, 2, 3, 4]

In [26]:
my_list = []
for j in range(5):
    my_list.append("*")
    print(my_list)

['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*', '*', '*']

In [27]:
my_list =[]
for j in range(0,10,2):
    my_list.append(j)
    print(my_list)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [ ]:
tuple = (2,3,"Hello")
list1 = list(tuple)
list1[0]=4
tuple = tuple()

In [8]:
n = 345.678

before, after = str(n).split(".")
result = float(after + "."+before)
print(result)

678.345

In [ ]:
end=" " → adds a space after each print.

end="" → adds nothing (good for continuous printing without gaps).

end="\n" → the default, adds a newline.

23/09/2025